html { font-size: 16px;}
body {
  font-family: Helvetica;
}

.app {
  display: flex;
  height: 100vh;
}

.channel-list {
  padding: 2rem 0;
  width: 250px;
  box-sizing: border-box;
  height: 100%;
  background: #f4f4f4;

  ul {
    list-style: none;
    margin: none;

    li {
      cursor: pointer;
      margin-top: 10px;

      &:first-child {
        margin: 0;
      }
    }
  }

  li.active {
    font-weight: bold;
    color: rgb(219, 29, 63);
  }
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
}

.channel-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2rem;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
  color: #cf00c;

  p {
    margin-bottom: 0;
    font-size: 0.7rem;
  }
}

.message-list {
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 2rem 0 0 2rem;
}

.single-message {
  margin-bottom: 1rem;
  p {
    font-size: 1.4rem;
  }
}

.search {
  padding: 2rem 2rem 0 2rem;
  box-sizing: border-box;
  border-top: 1px solid #f4f4f4;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  background-color: #1EDD88;
  color: #fff;
  text-transform: uppercase;
}

.search-form-control .form-control {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
  height: 50px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
